.dark-mode-button {
    height: 39px;
    width: 39px;
    color: var(--black);
    background-color: var(--white);
    border: var(--light-grey) 1px solid;
    border-radius: 12px;
    line-height: 0px;
    position: relative;
    top: -4px;
}